
.divModal{
background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center  ;

}
.modal {
  width: 90%;
  border-radius: 10px;
  background-color: rgb(74, 0, 143);
}
/* .divModal h2{
    font-size: 16px;
  }*/
/* .headerDiv {
    background-color: rgb(25, 29, 29);
    color: white;
  }
.headerDiv button{
    background-color: rgb(25, 29, 29);
    color: white;
  }
  
  .bodyDiv {
    background-color: rgb(25, 29, 29);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
} */
/* .bodyDiv h4{
font-size: 15px;
} */


/*.footerDiv {
     /* background-color: black; */

    /* display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center; */

/* .footerDiv h2{ 
    font-size: 15px;
}
.footerDiv .lista {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footerDiv .lista .iconos {
    font-size: 10px;
    margin: 10px;
    padding: 2px;
    text-decoration: none; 
}  */

/* Button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 0;
    margin: 0;
    height: 27px;
    font-size: 0px;
}
Button span{
  font-size: 12px;
  position: absolute;
  top: 3px;
  left: 25px;
} */
/* @media screen and (max-width: 790px) {
  .divModal {
    max-width: 80%;
    margin-left: 10%;
  }
} */
