body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 65px;
    background-color: #7b1fa2;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.cara{
    border-radius: 500px;
    height: 200px;
}
.uno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 90px);
    background-color: #303030;
    color: white;
    /* padding-top: 10%; */
}
.caja-central{
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 70%;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #424242;
}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #F2F2F2;
    color: #303030;
    padding: 10px;
}

.dos{
    background-color: #F2F2F2;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 100px;
}
.aptitudes{
    width: 50%;
}
.tech-list1{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.tech-list2{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 6px;
}

.tech{
    height: 90px;
}

.tres{
    background-color: #303030;
    height: 480px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
}
.proyectos{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    justify-content: flex;
    align-items: center;
}
.card{
    /*
    text-align: center;
    width: 100%;
    border: solid #F2F2F2 1px;
    border-radius: 5px;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    */
    
    width: 100%;
    height: 100px;
    /* imagen de pexels.com */
    background: url(portada1.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-blend-mode: darken; /* oscureciendo*/
    background-color: rgba(0, 0, 0, 0.6); /* oscureciendo*/






}

.card h3{
    margin: 0px;

}

.card img{
    width: 50%;
}
.card a, footer a {
    color: white;
}

.red-social{
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

footer{
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 250px;
    padding: 20px;
}
.contacto{
    width: 30%;
    
    
    display: flex;
    
    justify-content: space-evenly;
    padding: 10px;
    
}

.sobre-mi{
    padding-top: 50px;  
}

@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        height: 90%;
        flex-direction: column;
    }
    .caja-cara{
        width: 100%;
        height: 50%;
    }
    .caja-presentacion{
        width: 100%;
        height: 50%;
        align-items: flex-start;
    }
    .aptitudes{
        width: auto;
    }
    .dos{
        height: auto;
        padding: 0 10px 10px 10px;

    }
    .tres{
        height: auto;
    }
    .proyectos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
    .red-social{
        margin: 0 10px 0 10px;
    }
}
