.container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16181F;
    /* border: 1px solid green; */
    width: 100%;

  
}

.divBox {  
  /* background-color: #25293d; */
  /* backdrop-filter: blur(20px); */
  padding: 30px;
  max-width: 600px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: justify;
  margin-top: 60px;
  margin-bottom: 60px;
  z-index: 0;
} 

.divBox h3 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}
.divBox p {
  text-align: start;
  font-size: 14px;
  margin-bottom: 10px;
}


@media screen and (max-width: 790px) {
  .divBox {  
    width: 260px;
  } 
  .divBox p {
    text-align: center;
    font-size: 15px;
  }
}
