.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid green; */

  width: 100%;
  background-color: #16181F;
}
.contenedor h1{
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
  font-size: 25px;
    margin-top: 100px;

}
.divProyects {
  /* border: 1px solid crimson; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: fit-content;
  margin-top: 30px;
margin-bottom: 60px;
  flex-wrap: wrap;
}


@media screen and (max-width: 790px) {
  .divProyects {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: fit-content;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}
