.divProyects {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 600px;
  margin-top: 40px;
  flex-wrap: wrap;
}

@media screen and (max-width: 790px) {
  .divProyects {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: fit-content;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}
