.divModal {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid yellow;
  background-color: rgb(36, 112, 112);
  width: 200px;
  height: 200px;
  margin: 30px;

}
.divModal .divCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divModal .divCard h2 {
    position: absolute;
  font-size: 13px;
  color: aliceblue;
  z-index: 111;

}
.divModal .divCard .image {
  width: 100%;
  max-width: 200px;
padding: 0 15px 0 15px;
}
.divModal .divCard .divAddOpen {
  width: 500px;
  max-height: 300px;
  padding: 30px;
}
.divModal .divCard .divAddOpen p{
    font-size: 10px;

}