.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.744);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.isOpen {
  display: flex;
}

.modalContainer {
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  min-width: 320px;
  max-width: 600px;
  min-height: 200px;
  max-height: 1000px;
  /* overflow-y: auto; */
  background: linear-gradient(315deg, #282c34, #2a2c53);
}

.modalContainer img {
  width: 210px;
  height: 140px;
}

.modalClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: aqua;
  padding: 0;
}
.item {
  padding: 0;
  margin: 0 10px;
  color: rgb(255, 0, 128);
  text-decoration: none;
}
.btnWeb {
  border-radius: 5px;

  background-color: rgb(104, 104, 235);
  padding: 2px 5px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 16px;
  width: 80px;
  height: 30px;
  margin-bottom: 10px;
}
