.divHome {
    border: 1px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.divHome .image{
    width: 40%;
    border-radius: 15px;
}

.divHome h1{
    padding: 0;
    margin: 0;
}
.divHome h2{
    padding: 0;
    margin: 0;
}
