.App {
  text-align: center;
}

.App-container {
  /* background-color:  #282c34; */
  background: linear-gradient(315deg, #282c34, #2a2c53);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


