@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Rampart+One&display=swap");

.App {
  text-align: center;
  scroll-behavior: smooth;

}

/* background-color:  #282c34; */
.App-container {
  background: linear-gradient(315deg, #282c34, #2a2c53);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.App-link {
  /* color: #61dafb; */
}

.ModalProyects_divModal__4K1AB {
background-color: #2a2c53;
}
