.divNav {
  position:fixed;
  top: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;




  /*  */
}
.divNav.hide {
  transform: translateY(-100%);
}

.divNav .link {
  color: white;
  padding: 20px 20px 12px 20px;
}

.divNav .icons {
  font-size: 30px;
}
